body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Cor de fundo geral */
  }
  
  .main {
    max-width: 1200px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    padding: 20px; /* Espaçamento interno */
  }

  main picture img {
    width: 100%; /* A imagem ocupa toda a largura do container */
    height: auto; /* Mantém a proporção original */
    display: block; /* Remove espaços indesejados abaixo da imagem */
  }


  .header {
    background-color: #D5E1DD;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  .data-section {
    background-color: #8ABE8C;
    padding: 20px;
  }
  
  .weather-section {
    background-color: #F0F0F0;
    padding: 20px;
  }

  
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
  }
  
  
  header {
    background-color: #D5E1DD;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  .data-section {
    background-color: #8ABE8C;
    padding: 20px;
  }
  
  .weather-section {
    background-color: #F0F0F0;
    padding: 20px;
  }
  
  footer {
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-top: 20px
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('background-lemurs.jpg'); /* Substitua pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.data-section,
.weather-section {
    background-color: #8ABE8C;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.data-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.data-label,
        .data-value {
            font-size: 16px;
        }

        .temperature {
            font-size: 24px;
            font-weight: bold;
        }

        .conditions {
            margin-left: auto;
        }

        footer {
            text-align: center;
            color: #666;
            font-size: 14px;
            margin-top: 20px;
        }

