@media screen and (max-width: 768px) {
  /* Styles for smaller screens (e.g., mobile) */
  /* Adjust layout, font sizes, etc. */
}

:root {
  --primary-color: #590404;
  --background-color: #D5E1DD;
  --secondary-color: #a6ffa9;
  /* Define other variables as needed */
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/hero-large.jpg'); /* Substitua pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
  }
  
  
  .main {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
  }

  main picture img {
    width: 100%; /* A imagem ocupa toda a largura do container */
    height: auto; /* Mantém a proporção original */
    display: block; /* Remove espaços indesejados abaixo da imagem */
  }


  header {
    background-color: #D5E1DD;
    color: #333;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    margin-bottom: 20px;
  }

  
   
 

  h1,h2 {
    color: #590404;
  }

 

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



.data-section,
.weather-section {
    background-color: #a6ffa9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.conditions::before {
  content: "\2600";
  font-size: 24px;
  margin-right: 10px;
}


.data-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold
}

.data-label,
.data-value {
    font-size: 16px;
    color: #590404;
}

.temperature {
    font-size: 24px;
    font-weight: bold;
}

.conditions {
    margin-left: auto;
}

footer {
    text-align: center;
    color: #000000;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #d5e1dd;
}

