body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Cor de fundo geral */
  }
  
  .main {
    max-width: 1200px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    padding: 20px; /* Espaçamento interno */
  }

  main picture img {
    width: 100%; /* A imagem ocupa toda a largura do container */
    height: auto; /* Mantém a proporção original */
    display: block; /* Remove espaços indesejados abaixo da imagem */
  }


  .header {
    background-color: #D5E1DD;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  .data-section {
    background-color: #8ABE8C;
    padding: 20px;
  }
  
  .weather-section {
    background-color: #F0F0F0;
    padding: 20px;
  }

  
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
  }
  
  
  header {
    background-color: #D5E1DD;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  .data-section {
    background-color: #8ABE8C;
    padding: 20px;
  }
  
  .weather-section {
    background-color: #F0F0F0;
    padding: 20px;
  }
  
  footer {
     color: #666666;
     font-size: small;
     text-align:center; 
     padding-bottom:10px; 
  }
  

