/* temples-large.css (larger view) */
@media screen and (min-width: 768px) {
    .tempfig {
        grid-template-columns: repeat(2, 1fr); 
    }
}
 
header{
    background-color: #4d0558;
    color: #FFFF;
    display: flex;
}

body {
    font-family: 'Roboto', sans-serif;
}

.imgTemp{
    display: flex;

}

nav ul {
    display: flex;
    justify-content: space-around; 
}

nav a:hover {
    color: black; 
    text-decoration: none; 
}


nav ul li:hover {
    background-color: #4d0558;
}

.main {
    max-width: 1200px; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Show the menu when the button is clicked */
.show-menu ul {
    display: block;
}


