/* temples.css (mobile view) */
.tempfig {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 1rem; 
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4d0558;
    color: #f4f4f4;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
      }

h1 {
    margin: 0;
}

/* Navegação */
nav {
    display: flex;
    gap: 1em;
  }

nav a {
    text-decoration: none;
    color: #f4f4f4;
    padding: 0.5em;
}

nav :hover{
    color: black;
}

/* Conteúdo principal */
main {
    padding: 2em;
}

/* Galeria de imagens */
.res-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}


/* Cartões de imagem */
figure {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
    padding: 1em;
    text-align: center;
  }


  figure img {
    max-width: 100%;
    height: auto;
  }
  
  figure h3 {
    margin: 0.5em 0;
  }
  
  figure p {
    font-size: 0.9em;
    color: #555;
  }


/* Show the menu when the button is clicked */
.show-menu ul {
    display: block;
}

#hamburger-button {
    display: none; 
}

@media screen and (max-width: 600px) {
    #hamburger-button {
        display: block; 
    }
    nav ul {
        display: none; 
    }
    nav ul.show-menu {
        display: flex; 
    }
}

footer {
    background-color: #4d0558;
    color: #FFFF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* Estilos para os elementos dentro do footer */
#current-year, #lastModified {
    font-weight: bold;
}


/* temples-large.css (larger view) */
@media screen and (min-width: 768px) {
    .tempfig {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media screen and (max-width: 600px) {
    #hamburger-button {
        display: block; 
    }
    nav ul {
        display: none; 
    }
    nav ul.show-menu {
        display: flex; 
    }
}

.footer {
    background-color: #4d0558;
    color: #FFFF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* Estilos para os elementos dentro do footer */
#current-year, #lastModified, #hamburger-button  {
    font-weight: bold;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    /* Outros estilos conforme necessário */
}
